@{
    ViewBag.Title = "Login";
}
@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewBag.ErrorMessage
        <button id="myAlert" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .fondo {
            background-image: url('https://educredito.org.ve/wp-content/uploads/2021/07/Fondosadministrados1-1-1024x804.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; /* Alto del contenedor igual al 100% del alto de la ventana del navegador */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .form-control {
            border-radius: 50px;
            padding: 20px;
        }

        .card-header {
            border-radius: 10px 10px 0 0;
        }
    </style>
</head>
<body class="fondo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header text-center">
                        <h1 class="text-center">¡Bienvenido!</h1>
                        <img width="100px" height="100px" src="https://cdn-icons-png.flaticon.com/512/3150/3150707.png" alt="Logo" />
                    </div>
                    <div class="card-body">
                        <form action="@Url.Action("Logged", "Login")" method="post">
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Ingrese su usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="Contraseña">Contraseña</label>
                                <input type="password" class="form-control" id="Contraseña" name="Contraseña" placeholder="Ingrese su contraseña" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>