@model System.Data.DataSet
@using System.Data

@{
    ViewBag.Title = "Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<form action="@Url.Action("Pago", "Pago")" method="post">

    <div class="container">
        <h2>Lista de Pagos</h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" id="Id" name="Id" class="form-control" placeholder="Buscar por ID del Pago">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-success" style="margin-bottom: 10px;"
                        data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-plus"></i> Agregar Nuevo
                </button>
                <a href="@Url.Action("GenerateReport", "Pago")" class="btn btn-secondary" style="margin-bottom: 10px; background-color: gray; border-color: gray;">
                    <i class="fa fa-print" style="color: white;"></i> Generar Reporte
                </a>
            </div>
            
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Id Crédito</th>
                            <th>MontoPago</th>
                            <th>FechaPago</th>
                            <th>Empleado</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Tables.Count > 0)
                        {
                            if (Model.Tables[0].Rows.Count > 0)
                            {
                                for (int x = 0; x < Model.Tables[0].Rows.Count; x++)
                                {
                                    <tr>
                                        <td>@Model.Tables[0].Rows[x]["ID"]</td>
                                        <td>@Model.Tables[0].Rows[x]["IdCredito"]</td>
                                        <td>@Model.Tables[0].Rows[x]["MontoPago"]</td>
                                        <td>@Model.Tables[0].Rows[x]["FechaPago"]</td>
                                        <td>@Model.Tables[0].Rows[x]["IdEmpleado"]</td>

                                        <td>
                                            <button type="button" class="btn btn-danger btn-sm delete-btn"
                                                    data-id="@Model.Tables[0].Rows[x]["ID"]"
                                                    data-idcredito="@Model.Tables[0].Rows[x]["IdCredito"]">
                                                <i class="fa fa-trash"></i> Eliminar
                                            </button>
                                            <button type="button"
                                                    class="btn btn-warning btn-sm edit-btn"
                                                    data-id="@Model.Tables[0].Rows[x]["ID"]"
                                                    data-idcredito="@Model.Tables[0].Rows[x]["IdCredito"]"
                                                    data-montopago="@Model.Tables[0].Rows[x]["MontoPago"]"
                                                    data-fechapago="@Model.Tables[0].Rows[x]["FechaPago"]"
                                                    data-idempleado="@Model.Tables[0].Rows[x]["IdEmpleado"]">
                                                <i class="fa fa-edit"></i> Editar
                                            </button>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<!-- MODAL PARA AGREGAR Pago -->
<form action="@Url.Action("newPago", "Pago")" method="post">
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Agregar Pago</h4>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="IdCredito" class="form-label">Id Crédito</label>
                        <select class="form-control" id="IdCredito" name="IdCredito" required>
                            <option value="" selected disabled>Seleccione un Crédito</option>
                            @if (ViewBag.Creditos != null)
                            {
                                foreach (DataRow row in ViewBag.Creditos.Rows)
                                {
                                    <option value="@row["Id"]">@row["ID"] | @row["Cuota"] </option>
                                }
                            }
                            else
                            {
                                <option>No se encontraron creditos</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="MontoPago" class="form-label">Monto a Pagar</label>
                        <input type="hidden" class="form-control" id="MontoPago" name="MontoPago" placeholder="Seleccione credito primero">
                        <input type="text" class="form-control" id="MontoPagoDesactivado" name="MontoPagoDesactivado" placeholder="Seleccione credito primero" disabled>

                    </div>
                    <div class="mb-3">
                        <label for="IdEmpleado" class="form-label">Empleado</label>
                        <select class="form-control" id="IdEmpleado" name="IdEmpleado" required>
                            <option value="" selected disabled>Seleccione un Empleado</option>
                            @if (ViewBag.Empleados != null)
                            {
                                foreach (DataRow row in ViewBag.Empleados.Rows)
                                {
                                    <option value="@row["Id"]">@row["ID"] | @row["Nombres"] @row["Apellidos"]  </option>
                                }
                            }
                            else
                            {
                                <option>No se encontraron empleados</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- MODAL PARA ACTUALIZAR Pago -->

<form action="@Url.Action("updatePago", "Pago")" method="post">
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Actualizar Pago</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="UpdateID" name="ID" />
                    <input type="hidden" id="UpdateIDCreditoAnterior" name="IDCreditoAnterior" />
                    <div class="mb-3">
                        <label for="UpdateIdCredito" class="form-label">Id Crédito</label>
                        <select class="form-control" id="UpdateIdCredito" name="IdCredito" required>
                            <option value="" selected disabled>Seleccione un Crédito</option>
                            @if (ViewBag.TodosCreditos != null)
                            {
                                foreach (DataRow row in ViewBag.TodosCreditos.Rows)
                                {
                                    <option value="@row["Id"]">@row["ID"] | @row["Cuota"] </option>
                                }
                            }
                            else
                            {
                                <option>No se encontraron creditos</option>
                            }
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="UpdateMontoPago" class="form-label">Monto a Pagar</label>
                        <input type="hidden" class="form-control" id="UpdateMontoPago" name="MontoPago" placeholder="Seleccione credito primero">
                        <input type="text" class="form-control" id="UpdateMontoPagoDesactivado" name="MontoPagoDesactivado" placeholder="Seleccione credito primero" disabled>
                    </div>
                    <div class="mb-3">
                        <label for="UpdateIdEmpleado" class="form-label">Empleado</label>
                        <select class="form-control" id="UpdateIdEmpleado" name="IdEmpleado" required>
                            <option value="" selected disabled>Seleccione un Empleado</option>
                            @if (ViewBag.Empleados != null)
                            {
                                foreach (DataRow row in ViewBag.Empleados.Rows)
                                {
                                    <option value="@row["Id"]">@row["ID"] | @row["Nombres"] @row["Apellidos"]  </option>
                                }
                            }
                            else
                            {
                                <option>No se encontraron empleados</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-outline-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Modal de confirmación para eliminar -->
<form action="@Url.Action("deletePago", "Pago")" method="post">
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Eliminación</h5>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="deleteID" name="ID" />
                    <input type="hidden" id="deleteIDCredito" name="IdCredito" />
                    ¿Estás seguro de que deseas eliminar este Pago?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-outline-danger" id="confirmDeleteBtn">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</form>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script type="text/javascript">
    $(document).ready(function () {
        $('.edit-btn').on('click', function () {
            var id = $(this).data('id');
            var idcredito = $(this).data('idcredito')
            var montopago = $(this).data('montopago');
            var idempleado = $(this).data('idempleado');


            $('#updateModal #UpdateID').val(id);
            $('#updateModal #UpdateIdCredito').val(idcredito);
            $('#updateModal #UpdateIDCreditoAnterior').val(idcredito);
            $('#updateModal #UpdateMontoPago').val(montopago);
            $('#updateModal #UpdateMontoPagoDesactivado').val(montopago);
            $('#updateModal #UpdateIdEmpleado').val(idempleado);

            $('#updateModal').modal('show');
        });
    });

    $(document).ready(function () {
        $('.delete-btn').on('click', function () {
            var id = $(this).data('id');
            var idcredito = $(this).data('idcredito');

            $('#confirmDeleteModal #deleteID').val(id);
            $('#confirmDeleteModal #deleteIDCredito').val(idcredito);

            $('#confirmDeleteModal').modal('show');
        });
    });

    $(document).ready(function () {
        $('#IdCredito').change(function () {
            var selectedCuota = $(this).find(':selected').text().split('|')[1].trim();
            $('#MontoPago').val(selectedCuota);
            $('#MontoPagoDesactivado').val(selectedCuota);
        });
    });

    $(document).ready(function () {
        $('#UpdateIdCredito').change(function () {
            var selectedCuota = $(this).find(':selected').text().split('|')[1].trim();
            $('#UpdateMontoPago').val(selectedCuota);
            $('#UpdateMontoPagoDesactivado').val(selectedCuota);
        });
    });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>